<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Projects</title>

  <link rel="stylesheet" href="../static/style.css">

</head>

<body>

  <header class="navbar">

    <div class="container nav-container">

      <h1 class="logo">$$P~Realty</h1>

      <nav class="nav-links">

        <a href="index.html">HOME</a>

        <a href="about.html">ABOUT</a>

        <a href="projects.html" class="active">PROJECTS</a>

      </nav>

    </div>

  </header>
<section class="projects-page">

  <div class="container">

    <h1 class="section-title">
      OUR PREMIUM PROJECTS
    </h1>

    <div class="project-images">

      <!-- PROJECT 1 -->

      <div class="project-item large-project">

        <img src="../static/images/rzone1.jpg">
<div><h1>-Single Registration & 7/12 Villas starting ₹55L to ₹80L.</h1></div>
          </div>
        <div class="project-info">
          <button class="btn-primary">
            VIEW DETAILS
          </button>

        </div>

      </div>

      <!-- PROJECT 2 -->

      <div class="project-item large-project">

        <img src="../static/images/rzone2.jpg">

        <div class="project-info">

          <h3>Luxury Flats</h3>

          <p>
            2BHK & 3BHK premium apartments with modern amenities.
          </p>

          <button class="btn-primary">
            VIEW DETAILS
          </button>

        </div>

      </div>

      <!-- PROJECT 3 -->

      <div class="project-item large-project">

        <img src="../static/images/na-villas.jpg">

        <div class="project-info">

          <h2>Premium Villas in Lohegaon & Wagholi</h2>

          <p>
            NA / RERA approved luxurious villas with modern design and premium amenities. Price range from ₹1.05 Cr to ₹1.50 Cr in prime IT hub locations.
          </p>

          <button class="btn-primary">
            VIEW DETAILS
          </button>

        </div>

      </div>

     </div>
     </section>